@import "./font-face-builder";
$font-path: "../fonts";
@include font-face('Asap-Regular', '../fonts/Asap-Regular', 400, 'normal', 'ttf');
@include font-face('Asap-Medium', '../fonts/Asap-Medium', 500, 'normal', 'ttf');
@include font-face('Asap-Bold', '../fonts/Asap-Bold', 700, 'normal', 'ttf');

$white-two: #f5f5f5;
$white-three: #e0e0e0;
$warm-grey: #9e9e9e;
$brownish-grey: #616161;
$dull-yellow: #d4e157;
$sick-green: #c0ca33;
$sick-green-two: #afb42b;
$tiffany-blue: #80deea;
$aqua-marine: #4dd0e1;
$turquoise-blue: #00bcd4;
$sunshine-yellow: #ffeb3b;
$sun-yellow: #fdd835;
$orangey-yellow: #fbc02d;
$mango: #ffa726;
$tangerine: #ff9800;
$pumpkin-orange: #f57c00;
$powder-blue: #bbdefb;
$light-blue: #90caf9;
$light-blue2: #64b5f6;
$dodger-blue: #42a5f5;
$dark-sky-blue: #1e88e5;
$water-blue: #1976d2;
$pinkish-grey: #bdbdbd;

.bg-white-two{ background-color: $white-two; }
.bg-white-three{ background-color: $white-three; }
.bg-warm-grey{ background-color: $warm-grey; }
.bg-brownish-grey{ background-color: $brownish-grey; }
.bg-dull-yellow{ background-color: $dull-yellow; }
.bg-sick-green{ background-color: $sick-green; }
.bg-sick-green-two{ background-color: $sick-green-two; }
.bg-tiffany-blue{ background-color: $tiffany-blue; }
.bg-aqua-marine{ background-color: $aqua-marine; }
.bg-turquoise-blue{ background-color: $turquoise-blue; }
.bg-sunshine-yellow{ background-color: $sunshine-yellow; }
.bg-sun-yellow{ background-color: $sun-yellow; }
.bg-orangey-yellow{ background-color: $orangey-yellow; }
.bg-mango{ background-color: $mango; }
.bg-tangerine{ background-color: $tangerine; }
.bg-pumpkin-orange{ background-color: $pumpkin-orange; }
.bg-powder-blue{ background-color: $powder-blue; }
.bg-light-blue{ background-color: $light-blue; }
.bg-dodger-blue{ background-color: $dodger-blue; }
.bg-light-blue2{ background-color: $light-blue2; }
.bg-dark-sky-blue{ background-color: $dark-sky-blue; }
.bg-water-blue{ background-color: $water-blue; }
.bg-pinkish-grey{ background-color: $pinkish-grey; }

// remove chrome and firefox button glow
.btn:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

a:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.tile {
  background-color: $gray-lightest;
  padding: 15px;
  margin-bottom: 15px;
}

.panel {
  color: $white-two;
}


/* ICONS */
/*======================================*/
.icon-wrap {
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
}
.icon-wrap i {
  display: block;
  line-height: 1em;
  text-align: center;
  position: relative;
  width: 1em;
  padding-top: 1em;
  vertical-align: middle;
}
.icon-wrap i:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon-wrap .icon-txt {
  display: block;
  line-height: 1em;
  text-align: center;
  position: relative;
  width: 1em;
  vertical-align: top;
}
.icon-wrap-lg {
  padding: 20px;
}
.icon-wrap-md {
  padding: 17px;
}
.icon-wrap-sm {
  padding: 12px;
}
.icon-wrap-xs {
  padding: 7px;
}
.icon-circle {
  border-radius: 50%;
}
.icon-lg:before {
  font-size: 1.333em;
  line-height: 1.095em;
  vertical-align: middle;
}
.icon-2x:before {
  font-size: 2em;
  line-height: 1em;
}
.icon-3x:before {
  font-size: 3em;
  line-height: 1em;
}
.icon-4x:before {
  font-size: 4em;
  line-height: 1em;
}
.icon-5x:before {
  font-size: 5em;
  line-height: 1em;
}


.panel-primary {
  background-color: #5fa2dd;
  border-color: #5fa2dd;
  color: #ffffff;
}


/* CONTENT MARGIN */
/*======================================*/
.mar-no { margin: 0 !important; }
.mar-all { margin: 15px; }
.mar-top { margin-top: 15px; }
.mar-btm { margin-bottom: 15px; }
.mar-lft { margin-left: 15px; }
.mar-rgt { margin-right: 15px; }
.mar-hor { margin-left: 15px; margin-right: 15px; }
.mar-ver { margin-top: 15px; margin-bottom: 15px; }

/* CONTENT PADDING */
/*======================================*/
.pad-no { padding: 0; }
.pad-all { padding: 15px; }
.pad-top { padding-top: 15px; }
.pad-btm { padding-bottom: 15px; }
.pad-lft { padding-left: 15px; }
.pad-rgt { padding-right: 15px; }
.pad-hor { padding-left: 15px; padding-right: 15px; }
.pad-ver { padding-top: 15px; padding-bottom: 15px; }
