@import "./font-face-builder";
// Temporary fix for blurry fonts in windows
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
// $font-path: "../fonts";
// @include font-face('Asap-Regular', '../fonts/Asap-Regular', 400, 'normal', 'ttf');
// @include font-face('Asap-Medium', '../fonts/Asap-Medium', 500, 'normal', 'ttf');
// @include font-face('Asap-Bold', '../fonts/Asap-Bold', 700, 'normal', 'ttf');

$grey-superlight: $gray-100;
$grey-light: $gray-200;
$grey-mid: $gray-500;
$grey-dark: $gray-700;
$production-light: #f0f4c3;
$production: #d4e157;
$production-mid: #c0ca33;
$production-dark: #afb42b;
$consumption-light: #b2ebf2;
$consumption: #80deea;
$consumption-mid: #4dd0e1;
$consumption-dark: #00bcd4;
$solar-light: #fff176;
$solar: #ffeb3b;
$solar-mid: #fdd835;
$solar-dark: #fbc02d;
$heat-light: #ffcc80;
$heat: #ffa726;
$heat-mid: #ff9800;
$heat-dark: #f57c00;
$wind-light: #e3f2fd;
$wind: #bbdefb;
$wind-mid: #90caf9;
$water: #64b5f6;
$wind-dark: #42a5f5;
$water-mid: #1e88e5;
$water-dark: #1976d2;
$community: $gray-400;

.bg-grey-superlight{ background-color: $grey-superlight; }
.bg-grey-light{ background-color: $grey-light; }
.bg-grey-mid{ background-color: $grey-mid; }
.bg-grey-dark{ background-color: $grey-dark; }
.bg-production-light{ background-color: $production-light; }
.bg-production{ background-color: $production; }
.bg-production-mid{ background-color: $production-mid; }
.bg-production-dark{ background-color: $production-dark; }
.bg-consumption-light{ background-color: $consumption-light; }
.bg-consumption{ background-color: $consumption; }
.bg-consumption-mid{ background-color: $consumption-mid; }
.bg-consumption-dark{ background-color: $consumption-dark; }
.bg-solar-light{ background-color: $solar-light; }
.bg-solar{ background-color: $solar; }
.bg-solar-mid{ background-color: $solar-mid; }
.bg-solar-dark{ background-color: $solar-dark; }
.bg-heat-light{ background-color: $heat-light; }
.bg-heat{ background-color: $heat; }
.bg-heat-mid{ background-color: $heat-mid; }
.bg-heat-dark{ background-color: $heat-dark; }
.bg-wind-light{ background-color: $wind-light; }
.bg-wind{ background-color: $wind; }
.bg-wind-mid{ background-color: $wind-mid; }
.bg-wind-dark{ background-color: $wind-dark; }
.bg-water{ background-color: $water; }
.bg-water-mid{ background-color: $water-mid; }
.bg-water-dark{ background-color: $water-dark; }
.bg-community{ background-color: $community; }

// remove chrome and firefox button glow
.btn:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.btn, .form-control-sm {
  text-transform: uppercase;
  letter-spacing: .8px;
}

a:focus{
  color: none !important;
}

.tile {
  background-color: $grey-superlight;
  padding: 15px;
  margin-bottom: 15px;
}

.panel {
  color: $grey-superlight;
}

label {
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: .8;
  text-transform: uppercase;
  position: relative;

  [type='checkbox'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      width: 40px;
      height: 20px;
  }
  [type='checkbox']:before {
      font-family: FontAwesome;
      content: ' ';
      font-size: 24px;
      position: absolute;
      top: -5px; left: 0;
      padding: 12px 8px;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 2px;
      border: 1px solid lightgray;
      box-sizong: border-box;
  }
  [type='checkbox']:checked:before {
      content: '\f00c';
  }
  [type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      width: 40px;
      height: 20px;
  }
  [type='radio']:before {
      font-family: FontAwesome;
      content: ' ';
      font-size: 24px;
      position: absolute;
      top: -5px; left: 0;
      padding: 12px 9px;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 20px;
      border: 1px solid lightgray;
      box-sizong: border-box;
  }
  [type='radio']:checked:before {
      content: '\f111';
  }
}

//  select
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' fill='%23dedede'><polygon points='0,0 100,0 50,50'/></svg>") !important;
  background-size: 10px;
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
  padding: .5rem 1rem;
}

// radio and custom-checkbox-indicator-icon-checked



/* ICONS */
/*======================================*/
.icon-wrap {
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
}
.icon-wrap i {
  display: block;
  line-height: 1em;
  text-align: center;
  position: relative;
  width: 1em;
  padding-top: 1em;
  vertical-align: middle;
}
.icon-wrap i:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon-wrap .icon-txt {
  display: block;
  line-height: 1em;
  text-align: center;
  position: relative;
  width: 1em;
  vertical-align: top;
}
.icon-wrap-lg {
  padding: 20px;
}
.icon-wrap-md {
  padding: 17px;
}
.icon-wrap-sm {
  padding: 12px;
}
.icon-wrap-xs {
  padding: 7px;
}
.icon-circle {
  border-radius: 50%;
}
.icon-lg:before {
  font-size: 1.333em;
  line-height: 1.095em;
  vertical-align: middle;
}
.icon-2x:before {
  font-size: 2em;
  line-height: 1em;
}
.icon-3x:before {
  font-size: 3em;
  line-height: 1em;
}
.icon-4x:before {
  font-size: 4em;
  line-height: 1em;
}
.icon-5x:before {
  font-size: 5em;
  line-height: 1em;
}


.panel-primary {
  background-color: #5fa2dd;
  border-color: #5fa2dd;
  color: #ffffff;
}


/* CONTENT MARGIN */
/*======================================*/
.mar-no { margin: 0 !important; }
.mar-all { margin: 15px; }
.mar-top { margin-top: 15px; }
.mar-btm { margin-bottom: 15px; }
.mar-lft { margin-left: 15px; }
.mar-rgt { margin-right: 15px; }
.mar-hor { margin-left: 15px; margin-right: 15px; }
.mar-ver { margin-top: 15px; margin-bottom: 15px; }

/* CONTENT PADDING */
/*======================================*/
.pad-no { padding: 0; }
.pad-all { padding: 15px; }
.pad-top { padding-top: 15px; }
.pad-btm { padding-bottom: 15px; }
.pad-lft { padding-left: 15px; }
.pad-rgt { padding-right: 15px; }
.pad-hor { padding-left: 15px; padding-right: 15px; }
.pad-ver { padding-top: 15px; padding-bottom: 15px; }
