@import "./font-face-builder";
// Temporary fix for blurry fonts in windows
@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
// $font-path: "../fonts";
// @include font-face('Asap-Regular', '../fonts/Asap-Regular', 400, 'normal', 'ttf');
// @include font-face('Asap-Medium', '../fonts/Asap-Medium', 500, 'normal', 'ttf');
// @include font-face('Asap-Bold', '../fonts/Asap-Bold', 700, 'normal', 'ttf');

$grey-superlight: $gray-100;
$grey-light: $gray-200;
$grey-mid: $gray-500;
$grey-dark: $gray-700;
$production-light: #f0f4c3;
$production: #d4e157;
$production-mid: #c0ca33;
$production-dark: #afb42b;
$consumption-light: #b2ebf2;
$consumption: #80deea;
$consumption-mid: #4dd0e1;
$consumption-dark: #00bcd4;
$solar-light: #fff176;
$solar: #ffeb3b;
$solar-mid: #fdd835;
$solar-dark: #fbc02d;
$heat-light: #ffcc80;
$heat: #ffa726;
$heat-mid: #ff9800;
$heat-dark: #f57c00;
$wind-light: #e3f2fd;
$wind: #bbdefb;
$wind-mid: #90caf9;
$water: #64b5f6;
$wind-dark: #42a5f5;
$water-mid: #1e88e5;
$water-dark: #1976d2;
$community: $gray-400;

.bg-grey-superlight{ background-color: $grey-superlight; }
.bg-grey-light{ background-color: $grey-light; }
.bg-grey-mid{ background-color: $grey-mid; }
.bg-grey-dark{ background-color: $grey-dark; }
.bg-production-light{ background-color: $production-light; }
.bg-production{ background-color: $production; }
.bg-production-mid{ background-color: $production-mid; }
.bg-production-dark{ background-color: $production-dark; }
.bg-consumption-light{ background-color: $consumption-light; }
.bg-consumption{ background-color: $consumption; }
.bg-consumption-mid{ background-color: $consumption-mid; }
.bg-consumption-dark{ background-color: $consumption-dark; }
.bg-solar-light{ background-color: $solar-light; }
.bg-solar{ background-color: $solar; }
.bg-solar-mid{ background-color: $solar-mid; }
.bg-solar-dark{ background-color: $solar-dark; }
.bg-heat-light{ background-color: $heat-light; }
.bg-heat{ background-color: $heat; }
.bg-heat-mid{ background-color: $heat-mid; }
.bg-heat-dark{ background-color: $heat-dark; }
.bg-wind-light{ background-color: $wind-light; }
.bg-wind{ background-color: $wind; }
.bg-wind-mid{ background-color: $wind-mid; }
.bg-wind-dark{ background-color: $wind-dark; }
.bg-water{ background-color: $water; }
.bg-water-mid{ background-color: $water-mid; }
.bg-water-dark{ background-color: $water-dark; }
.bg-community{ background-color: $community; }

// remove chrome and firefox button glow
.btn:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.btn, .form-control-sm, .badge,
.dropdown-header {
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.btn .fa {
  margin-left: .5rem;
}

a:focus{
  color: none !important;
}

.tile {
  background-color: $grey-superlight;
  padding: 1rem;
  margin-bottom: 1rem;
}

.panel {
  color: $grey-superlight;
}

//  btn secondary if freaking unique!

.btn-secondary, .btn-outline-secondary {
  border-radius: $border-radius !important;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: white;
  border-color: transparent;
  text-decoration: underline;
  color: darken($link-color, 15%);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  color: darken($link-color, 15%);
}

// link

.card-link,
.card-link:visited {
  text-decoration: underline;
}

.card-link:hover,
.card-link:active,
.card-link:focus  {
  text-decoration: none;
}

:not(nav) ~ a,
:not(nav) ~ a:visited {
    text-decoration: underline;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

// ******************* inputs ********************

input:not(.form-control-lg), label:not(.from-label-lg), .btn:not(.btn-lg) {
    max-height: 2.5rem;
}

.form-control,
.form-control:hover,
.form-control:active,
.form-control:focus {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.form-control:focus {
  border-bottom-width: 2px;
}

label {
  font-size: 13px;
  font-weight: bold;
  line-height: 1rem;
  letter-spacing: .8;
  text-transform: uppercase;
  position: relative;
}

// spaces

:not(.form-inline) .form-control + .form-control {
    margin-top: .5rem;
}

.form-inline .form-control + .form-control,
.form-inline .form-group + .form-group,
.form-inline .form-group + button,
.form-inline .form-group + [type="submit"],
.btn-group + .btn-group  {
    margin-left: .5rem;
}

.form-check .form-check-label + .form-check-label {
    margin-left: 1rem;
}

// checkbox and radio

label {
  [type='checkbox'], [type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    height: auto;
  }
  [type='checkbox']:focus, [type='radio']:focus {
    outline: none;
  }
  input[type='checkbox']:focus::before,
  input[type='radio']:focus::before {
    border: 1px solid transparent;
    border-bottom-color: $gray-900;
  }
  [type='checkbox']:before,
  [type='radio']:before {
    font-family: FontAwesome;
    content: ' ';
    font-size: 24px;
    position: relative;
    top: -.125rem;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border: 1px solid transparent;
    border-bottom-color: $gray-200;
    display: inline-block;
    vertical-align: middle;
  }
  [type='checkbox']:before {
    padding: 11px 8px;
    border-radius: 0;

  }
  [type='radio']:before {
    padding: 11px 9px;
    border-radius: 0;
  }
  [type='checkbox']:checked:before {
    content: '\f00c';
  }
  [type='radio']:checked:before {
    content: '\f111';
  }
  [type='radio']:not(:checked):before {
    content: '\f10c';
  }
}

.form-check .form-check-input {
    margin-right: .2rem;
}

//  select
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' fill='%23dedede'><polygon points='0,0 100,0 50,50'/></svg>") !important;
  background-size: 10px;
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
  padding: .5rem 1rem;
}

// file
[type='file'] {
    display: none;
}

// breadcrumbs

a.breadcrumb-item {
  color: $gray-500;
}

// dropdown
.dropdown-divider {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.dropdown-menu {
  position: relative;
  box-shadow: 0 0.1875rem 1rem rgba(0,0,0,0.1) !important;
}

.dropdown-menu:before {
  content: '';
  position: absolute;
  top: -11px;
  left: calc(50% - 11px);
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #e0e0e0;
}
.dropdown-menu:after {
  content: '';
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown-item:not([disabled]):hover,
.dropdown-item:not([disabled]):focus {
  text-decoration: underline;
  cursor: pointer;
  color: darken($link-color, 15%);
  background: transparent;
  outline: none;
}

//  dropup

.dropup .dropdown-menu:before {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(50% - 11px);
    width: 0;
    height: 0;
    border-bottom: 11px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #e0e0e0;
}

.dropup .dropdown-menu:after {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
}

.dropup .dropdown-menu {
    margin-top: -10px;
    margin-bottom: 0.125rem;
}

// nav tabs

.nav-tabs {
  border-bottom: 1px solid #E0E0E0;
  max-height: 40px !important;
}
a.nav-link {
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  height: 40px !important;
}

a.nav-link.active,
a.nav-link.active:hover,
a.nav-link.active:active,
a.nav-link.active:focus  {
  border-bottom-width: 2px;
  border-bottom-color: #222 !important;
}

a.nav-link:hover {
  border-color: transparent !important;
  border-bottom-width: 1px;
  border-bottom-color: #222 !important;
}

.nav-tabs + .tab-content {
  margin-top: 1.5rem;
}

/* ICONS */
/*======================================*/
.icon-wrap {
  display: inline-block;
  padding: 10px;
  border-radius: .125rem;
}
.icon-wrap i {
  display: block;
  line-height: 1em;
  text-align: center;
  position: relative;
  width: 1em;
  padding-top: 1em;
  vertical-align: middle;
}
.icon-wrap i:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.icon-wrap .icon-txt {
  display: block;
  line-height: 1em;
  text-align: center;
  position: relative;
  width: 1em;
  vertical-align: top;
}
.icon-wrap-lg {
  padding: 1.25rem;
}
.icon-wrap-md {
  padding: 17px;
}
.icon-wrap-sm {
  padding: .75rem;
}
.icon-wrap-xs {
  padding: 7px;
}
.icon-circle {
  border-radius: 50%;
}
.icon-lg:before {
  font-size: 1.333em;
  line-height: 1.095em;
  vertical-align: middle;
}
.icon-2x:before {
  font-size: 2em;
  line-height: 1em;
}
.icon-3x:before {
  font-size: 3em;
  line-height: 1em;
}
.icon-4x:before {
  font-size: 4em;
  line-height: 1em;
}
.icon-5x:before {
  font-size: 5em;
  line-height: 1em;
}

.panel-primary {
  background-color: #5fa2dd;
  border-color: #5fa2dd;
  color: #ffffff;
}

//  modal
.modal-dialog {
  box-shadow: 0 .125rem 2rem rgba($black,.62);
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding-left: 2rem;
  padding-right: 2rem;
}
.modal-header .close {
    float: right;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1;
    color: $gray-400;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    margin-top: -0.375rem;
}


/* CONTENT MARGIN */
/*======================================*/
.mar-no { margin: 0 !important; }
.mar-all { margin: 1rem; }
.mar-top { margin-top: 1rem; }
.mar-btm { margin-bottom: 1rem; }
.mar-lft { margin-left: 1rem; }
.mar-rgt { margin-right: 1rem; }
.mar-hor { margin-left: 1rem; margin-right: 1rem; }
.mar-ver { margin-top: 1rem; margin-bottom: 1rem; }

/* CONTENT PADDING */
/*======================================*/
.pad-no { padding: 0; }
.pad-all { padding: 1rem; }
.pad-top { padding-top: 1rem; }
.pad-btm { padding-bottom: 1rem; }
.pad-lft { padding-left: 1rem; }
.pad-rgt { padding-right: 1rem; }
.pad-hor { padding-left: 1rem; padding-right: 1rem; }
.pad-ver { padding-top: 1rem; padding-bottom: 1rem; }
